<div class="container-fluid">
  <!-- <img
    [src]="getStoreOrderImageUrl('BckGround01.png')"
    alt="" style="position:relative;"
  /> -->
  <div id="btn_store_order_heading">
    <p class="store-heading"><img alt="" [src]="getStoreOrderImageUrl('store_order_menu.png')" /></p>
</div>
   <!-- <img alt="" alt="" [src]="getStoreOrderImageUrl('store_order_menu.png')" class="head-img"/> -->
   <table>
    <tbody> 
        <tr>
             <td style="width: 70%;"></td>
             <td></td>
            <td id="btn_picklistoff" class="btn-store-order-fc">
                <img alt="" class="manager-btns" [src]="getStoreOrderImageUrl('picklistoff.png')">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td id="btn_printpl" class="btn-store-order-fc">
                <img alt="" class="manager-btns" [src]="getStoreOrderImageUrl('printpl.png')">
            </td>
        </tr>
        <tr>
            <td></td>
             <td id="btn_store" class="btn-store-order-fc">
                <img alt="" class="manager-btns" [src]="getStoreOrderImageUrl('store.png')">
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td id="btn_return" class="btn-store-order-fc">
                <img alt="" class="manager-btns" [src]="getStoreOrderImageUrl('return.png')">
            </td>
        </tr>
    </tbody>
</table>
</div>
